input[type=text],input[type=date] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.mandatory-title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
@media (min-width: 1281px) {
    .welcome-content {
        padding-left: 150px;
        text-align: justify;
        padding-right: 150px;
        padding-top: 50px;
    }
    .mandatory-form {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .welcome-content {
        padding-left: 150px;
        text-align: justify;
        padding-right: 150px;
        padding-top: 50px;
    }
    .mandatory-form {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .welcome-content {
        padding-left: 150px;
        text-align: justify;
        padding-right: 150px;
        padding-top: 50px;
    }
    .mandatory-form {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .welcome-content {
        padding-left: 150px;
        text-align: justify;
        padding-right: 150px;
        padding-top: 50px;
    }
    .mandatory-form {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }   
  }
.quesFive {
    margin-left: 20px;
}
.declaration {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.declaration-sign-name {
    position: relative;
    top: 40px;
}